
<div class="container">
  <mat-card class="example-card">
    <mat-card-header>

      <mat-card-title>Form 1</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
     <div class="form-container">
       <mat-horizontal-stepper [linear]=true #stepper>
         <mat-step [stepControl]="step1">
           <form [formGroup]="step1" >
             <ng-template matStepLabel>Your preference</ng-template>

             <mat-radio-group class="example-radio-group" formControlName="engine" >
               <mat-radio-button class="example-radio-button"  value="kubernetes">Kubernetes</mat-radio-button>
               <mat-radio-button class="example-radio-button"  value="docker">Docker</mat-radio-button>
             </mat-radio-group>
             <br>
             <label>Fabric Version</label>
             <br>

             <mat-radio-group class="example-radio-group" formControlName="version" >
               <mat-radio-button class="example-radio-button"  value="kubernetes">1.0</mat-radio-button>
               <mat-radio-button class="example-radio-button" value="docker">1.1</mat-radio-button>
             </mat-radio-group>
             <br>
             <label>SDK profile generation</label>
             <br>
             <mat-radio-group class="example-radio-group" formControlName="sdk_gen" >
               <mat-radio-button class="example-radio-button"  value="kubernetes">1.0</mat-radio-button>
               <mat-radio-button class="example-radio-button" value="docker">1.1</mat-radio-button>
             </mat-radio-group>


             <div>
               <button mat-raised-button color="accent" matStepperNext>Next</button>
             </div>
           </form>
         </mat-step>
         <mat-step [stepControl]="step2">
           <form [formGroup]="step2">
             <ng-template matStepLabel>Fill out your address</ng-template>
             <mat-form-field>
               <input matInput placeholder="Address" formControlName="secondCtrl" required>
             </mat-form-field>
             <div>
               <button mat-button matStepperPrevious>Back</button>
               <button mat-button matStepperNext>Next</button>
             </div>
           </form>
         </mat-step>
         <mat-step [stepControl]="step3">
           <form [formGroup]="step3">
             <ng-template matStepLabel>Fill out your address</ng-template>
             <mat-form-field>
               <input matInput placeholder="Address" formControlName="secondCtrl" required>
             </mat-form-field>
             <div>
               <button mat-button matStepperPrevious>Back</button>
               <button mat-button matStepperNext>Next</button>
             </div>
           </form>
         </mat-step>
         <mat-step [stepControl]="step2">
           <form [formGroup]="step2">
             <ng-template matStepLabel>Fill out your address</ng-template>
             <mat-form-field>
               <input matInput placeholder="Address" formControlName="secondCtrl" required>
             </mat-form-field>
             <div>
               <button mat-button matStepperPrevious>Back</button>
               <button mat-button matStepperNext>Next</button>
             </div>
           </form>
         </mat-step>
         <mat-step [stepControl]="step2">
           <form [formGroup]="step2">
             <ng-template matStepLabel>Fill out your address</ng-template>
             <mat-form-field>
               <input matInput placeholder="Address" formControlName="secondCtrl" required>
             </mat-form-field>
             <div>
               <button mat-button matStepperPrevious>Back</button>
               <button mat-button matStepperNext>Next</button>
             </div>
           </form>
         </mat-step>
         <mat-step [stepControl]="step2">
           <form [formGroup]="step2">
             <ng-template matStepLabel>Fill out your address</ng-template>
             <mat-form-field>
               <input matInput placeholder="Address" formControlName="secondCtrl" required>
             </mat-form-field>
             <div>
               <button mat-button matStepperPrevious>Back</button>
               <button mat-button matStepperNext>Next</button>
             </div>
           </form>
         </mat-step>
         <mat-step [stepControl]="step2">
           <form [formGroup]="step2">
             <ng-template matStepLabel>Fill out your address</ng-template>
             <mat-form-field>
               <input matInput placeholder="Address" formControlName="secondCtrl" required>
             </mat-form-field>
             <div>
               <button mat-button matStepperPrevious>Back</button>
               <button mat-button matStepperNext>Next</button>
             </div>
           </form>
         </mat-step>

         <mat-step>
           <ng-template matStepLabel>Done</ng-template>
           You are now done.
           <div>
             <button mat-button matStepperPrevious>Back</button>
             <button mat-button (click)="stepper.reset()">Reset</button>
           </div>
         </mat-step>
       </mat-horizontal-stepper>


       <!-- Copyright 2018 Google Inc. All Rights Reserved.
           Use of this source code is governed by an MIT-style license that
           can be found in the LICENSE file at http://angular.io/license -->
     </div>

    </mat-card-content>
    <mat-card-actions>
      <!--<button class="btn" mat-raised-button color="primary">Primary</button>-->
      <!--<button mat-button>SHARE</button>-->
    </mat-card-actions>
  </mat-card>

</div>


