<div class="container">
<mat-toolbar class="mat-elevation-z6" style="background-color: white;position: fixed;margin-top: -4%">
  <mat-toolbar-row>
    <span>K8S Network Generator</span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="section1">
  <div>
    <h1 class="headline text-large" style="margin-left: 150px">
      <p class="gray">Build What’s Next</p>
      <p class="blue">Better software. Faster.</p>
      <ul class="list">
        <li class="">
          <i class="material-icons md-blue notranslate">check</i>
          Use Google's core infrastructure, data analytics and machine learning.
        </li>
        <li class="">
          <i class="material-icons md-blue notranslate">check</i>
          Secure and fully featured for all enterprises.
        </li>
        <li class="">
          <i class="material-icons md-blue notranslate">check</i>
          Committed to open source and industry leading price-performance.
        </li>
      </ul>

    </h1>
    <span class="twobuttons">
        <button mat-raised-button class="button-cloud">GENERATE NETWORK</button>
      &nbsp;&nbsp;
        <button mat-raised-button class="button-plain">CONTACT SALES</button>
      </span>
  </div>
  <div>

  </div>
</div>

<div class="section2">
  <div>

  </div>

  <div class="subsection2">
    <h2 class="text-headline">
      Register now for $500 off general admission
    </h2>
    <div class="text-body">
      Connect with big thinkers and even bigger doers at Next ’18, our annual conference for IT leaders, developers &amp; entrepreneurs, July 24–26 in San Francisco.
    </div>
    <!--<a class="link" href="//cloud.withgoogle.com/next18/sf/?utm_source=cloud.google.com&amp;utm_medium=et&amp;utm_campaign=cloud.google.com" target="_blank" track-type="nextBanner" track-name="registerNow" track-metadata-position="body">-->
      <!--Register now-->
    <!--</a>-->
    <button mat-raised-button style="color: #4285f4">Register now</button>
  </div>
</div>
  <div class="section2">
    <div>

    </div>

    <div class="subsection2">
      <h2 class="text-headline">
        Register now for $500 off general admission
      </h2>
      <div class="text-body">
        Connect with big thinkers and even bigger doers at Next ’18, our annual conference for IT leaders, developers &amp; entrepreneurs, July 24–26 in San Francisco.
      </div>
      <!--<a class="link" href="//cloud.withgoogle.com/next18/sf/?utm_source=cloud.google.com&amp;utm_medium=et&amp;utm_campaign=cloud.google.com" target="_blank" track-type="nextBanner" track-name="registerNow" track-metadata-position="body">-->
      <!--Register now-->
      <!--</a>-->
      <button mat-raised-button style="color: #4285f4">Register now</button>
    </div>
  </div>
</div>

